snippet arm
	${1:arm} => ${2:expression},
snippet fn
	fn ${1:identifier}(${2}) ${3}{
	}
snippet let
	let ${1:variable} = ${2:expression};
snippet mat
	match ${1:expression} {
	}
snippet use
	use ${1:path};
