snippet /f
	// FIXME${1}
snippet /t
	// TODO${1}
snippet /x
	// XXX${1}
snippet inc
	#include ${1:filename}
snippet main
	int main() {
	}
snippet if
	if (${1:condition}) {
	}
snippet eli
	else if (${1:condition}) {
	}
snippet els
	else {
	}
snippet whi
	while (${1:condition}) {
	}
snippet for
	for (${1:init}; ${2:condition}; ${3:expression}) {
	}
snippet fun
	${1:name}() {
	}
