snippet -f
	-# FIXME: ${1}
snippet -fb
	-# FIXME: new
	-# FIXME: old
	-# FIXME: end
snippet -t
	-# TODO: ${1}
snippet -x
	-# XXX: ${1}
snippet pry
	- require 'pry'; binding.pry # FIXME remove
snippet pryr
	- require 'pry'; require 'pry-rescue' # FIXME remove
	- Pry.rescue do # FIXME remove
snippet jsv
	javascript: void(0);
