snippet con
	const ${1:name} = ${2:value};
snippet des
	describe("${1}", () => {
	});
snippet exp
	expect(${1:actual}).${2:assertion}(${3});
snippet /f
	// FIXME${1}
snippet fn
	() => {}
snippet it
	it("${1}", () => {
	});
snippet itt
	it.todo("${1}");
