snippet /f
	// FIXME${1}
snippet /t
	// TODO${1}
snippet @med
	@media (${1:min}-width: ${2}) {
	}
snippet out
	outline: 1px solid red; // FIXME remove
snippet rem
	rem-calc(${1})
snippet @inc
	@include ${1}(${2});
snippet @mix
	@mixin ${1} {
	}
snippet @imp
	@import '${1}';
snippet --
	--${1:property}: ${2:value};
snippet var
	var(--${1:property})
