# #!/bin/bash
snippet #f
	# FIXME${1}
snippet #t
	# TODO${1}
snippet #!
	#!/usr/bin/env bash
	
snippet if
	if ${1:condition}; then
	fi
snippet eli
	elif ${1:condition}; then
snippet for
	for (( ${2:i} = 0; $2 < ${1:count}; $2++ )); do
	done
snippet whi
	while ${1:condition}; do
	done
snippet unt
	until ${1:condition}; do
	done
snippet cas
	case ${1:expression} in
	    *)
	        ;;
	esac
snippet fun
	${1:name}() {
	}
